apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dns-operator.fullname" . }}-role
  labels:
    {{- include "dns-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dns.homelab.mortenolsen.pro
  resources:
  - dnsclasses
  - dnsrecords
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dns.homelab.mortenolsen.pro
  resources:
  - dnsclasses/finalizers
  - dnsrecords/finalizers
  verbs:
  - update
- apiGroups:
  - dns.homelab.mortenolsen.pro
  resources:
  - dnsclasses/status
  - dnsrecords/status
  verbs:
  - get
  - patch
  - update
